@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: url("https://img.freepik.com/free-photo/green-gradient-abstract-background-empty-room-with-space-your-text-picture_1258-117939.jpg?w=2000&t=st=1729190522~exp=1729191122~hmac=aef6c8a7423b1136a559cde4a2dd15096d3eb5b049a7f4eba6916117233cc512");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}